<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>internship-ca.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>107DDC761ED9850B00102FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>107DDC8A1ED9850B00102FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>107DDC951ED9850B00102FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
